<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_Grid_v3.141" parallel="tests" thread-count="5">

	<groups>
		<run>
			<include name="start" />
			<include name="chrome" />
			<include name="firefox" />
			<include name="end" />
		</run>
	</groups>

	<test name="Regression 1">
		<classes>
			<class name="app.Grid_Runner" />
		</classes>
	</test> <!-- Test -->

	<test name="Regression 2">
		<classes>
			<class name="app.Grid_Runner" />
		</classes>
	</test> <!-- Test -->

	<test name="Regression 3">
		<classes>
			<class name="app.Grid_Runner" />
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
