<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="4">

	<groups>
		<run>
			<include name="start" />
			<include name="Edge" />
			<include name="Firefox" />
			<include name="end" />
		</run>
	</groups>

	<test name="Regression 1">
		<classes>
			<class name="app.Runner" />
		</classes>
	</test> <!-- Test -->

	<test name="Regression 2">
		<classes>
			<class name="app.Runner" />
		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
